name: Static Checks

on:
  push:
    branches:
      - main
  pull_request: {}
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  static-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Enable Corepack
        run: corepack enable

      - uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'yarn'

      - name: Setup safe-chain
        run: |
          npm i -g @aikidosec/safe-chain
          safe-chain setup-ci

      - name: Install dependencies
        run: yarn

      - name: Lint Solidity
        run: yarn lint:sol

      - name: Lint TypeScript
        run: yarn lint:ts

      - name: Format Check Solidity
        run: yarn format:sol

      - name: Format Check TypeScript
        run: yarn format:ts

      - name: Format Check YAML
        run: yarn format:yml

      - name: Build Contracts
        run: yarn build

      - name: Test Contracts
        run: yarn test:unit:parallel --bail --no-compile --disabletracer
        env:
          ALCHEMY_KEY: ${{ secrets.ALCHEMY_KEY }}
          MNEMONIC_DEV: ${{ vars.MNEMONIC_DEV }}
          MNEMONIC_PROD: ${{ vars.MNEMONIC_PROD }}
